.navigation.sticky{
    height: 50px;
    transition:all 0.5s ease-in-out;
}
.navigation.sticky .img1   {
    width: 100px;
    margin-left: 50px;
    margin-top: 11px;
    transition:all 0.5s ease-in-out;
}

.navigation.sticky .ul1 li{
    margin-right: 60px;
    margin-top: -1px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    transition:all 0.5s ease-in-out;
}

.a6:hover{
    background-color: white;
    color: #AD00FF;
    transition:all 0.4s ease-in-out;

}
.a10:hover{
    background-color: white;
    color: #AD00FF;
    transition:all 0.4s ease-in-out;
}
.a81:hover{
    background-color: black;
    color: white;
    transition:all 0.4s ease-in-out;

}
.a91:hover{
    background-color: #AD00FF;
    color: white;
    transition:all 0.4s ease-in-out;

}
.a11:hover{
    background-color: #AD00FF;
    color:  white;
    transition:all 0.4s ease-in-out;

}   
